<ng-container *ngIf="products.length > 0; else emptyTempl">
  <div class="container">
    <h2>Your order</h2>
    <table>
      <tbody>
        <ng-container *ngFor="let product of products; let i = index;">
          <tr>
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <div [innerHTML]="product.type">

              </div>
            </td>
            <td>
              <div [innerHTML]="product.title">

              </div>
            </td>
            <td>
              <div [innerHTML]="product.price">

              </div>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <hr>
    <b class="right">
      Total {{ totalPrice }}
    </b>


    <h2 class="text-center">
      Delivery
    </h2>

    <ng-container *ngIf="added">  <!-- added не является null -->
      <div class="text-center text-danger">
        {{ added }}
      </div>
    </ng-container>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-control">
        <label for="name">
          Name
        </label>
        <input id="name"
          type="text"
          name="name"
          formControlName="name"/>
        <ng-container *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          <div class="validation">
            <small *ngIf="form.get('name')?.hasError('required')">
              Enter your name
            </small>
          </div>
        </ng-container>
      </div>

      <div class="form-control">
        <label for="phone">
          Phone
        </label>
        <input id="phone"
          type="phone"
          name="phone"
          formControlName="phone"/>
        <ng-container *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
          <div class="validation">
            <small *ngIf="form.get('phone')?.hasError('required')">
              Enter your phone
            </small>
          </div>
        </ng-container>
      </div>

      <div class="form-control">
        <label for="address">
          Address
        </label>
        <input id="address"
          type="text"
          name="address"
          formControlName="address"/>
        <ng-container *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
          <div class="validation">
            <small *ngIf="form.get('address')?.hasError('required')">
              Enter your address
            </small>
          </div>
        </ng-container>
      </div>

      <div class="form-control">
        <label for="payment">
          Payment method
        </label>
        <select formControlName="payment">
          <option value="Cash">Cash</option>
          <option value="Card">Card</option>
        </select>
      </div>

      <button type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid || submitted">
        Add
      </button>
    </form>

  </div>

</ng-container>

<ng-template #emptyTempl>
  <h2 class="text-center">Cart is empty. Select product</h2>
</ng-template>


